body {
    background-color: #2c3e50;
}

body h1,
body div ul li {
    color: #fff;
}

#days-of-week h3 {
    color: #f1c40f;
}

#activities > h2 {
    background-color: #f1c40f;
    border: 2px solid;;
}

#astronomy-class {
    color: #e74c3c;
}
