@import "../../../styles/variables.scss";

@import "../../../styles/mixins.scss";

.wrapper {
  &BodyLine {
    height: 3rem;

    &Item {
      padding-inline: 0.5rem;
    }

    &Action {
      padding-inline: 0.5rem;
      text-align: center;

      &Btn {
        @include btnStyle();
      }
    }
  }
}
