@import "../../styles/variables.scss";

@import "../../styles/mixins.scss";

.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #12131452;
  z-index: 1;

  &Body {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background-color: #121314;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;

    &Head {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &Title {
        font-size: 1.2rem;
      }

      &Close {
        font-size: 2rem;
        color: #ffffff80;;
        cursor: pointer;
        padding-inline: 1rem;
        transition: all 0.25s ease-in-out;

        &:hover {
          color: #fff;
        }
      }
    }

    &Text {
      padding-block: 2rem;
      border-top: 0.1rem solid #fff;
      border-bottom: 0.1rem solid #fff;
    }

    &Btns {
      display: flex;
      justify-content: end;
      gap: 1rem;

      &Close {
        gap: 2rem;
        @include btnStyle();
      }

      &Action {
        @include btnStyle($btnOk);
      }
    }
  }
}
