@import "../../styles/variables.scss";

.wrapper {
  &Table {
    width: 100%;

    &Head {
      &Line {
        background-color: $backGroundSecondary;
        box-shadow: $boxShadown;
        height: 3rem;

        &Item {
          padding-inline: 0.5rem;
        }
      }
    }
  }
}
