* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #000;
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3%;
}

.svgs {
  cursor: pointer;
}

.svg-icon {
  width: 3rem;
}

.svg-logo {
  width: 12.5rem;
}

.btn {
  color: #fff;
  background-color: #000;
  border: 2px solid #fff;
  border-radius: 15%;
  padding: .4rem .7rem;
  font-size: 18px;
  font-family: "Raleway-Regular", "Raleway";
}

.btn:hover {
  cursor: pointer;
  color: #ff003a;
  background-color: #000;
  border: 2px solid #ff003a;
}

.btn:nth-child(2) {
  margin: 0 .5rem;
}