@import "../../styles/mixins.scss";

.formComment {
  @include flexCenter;
  margin: 2rem auto;
  padding: 2rem;
  gap: 2rem;
  width: 45rem;
  background-color: #32363d;
  border-radius: 1rem;
  box-shadow: 0.3125rem 0.3125rem 0.625rem rgba(0, 0, 0, 0.3);

  &Form {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &Input {
      padding: 0.5rem;
      background-color: #32363d;
      border: none;
      border: 0.2rem solid transparent;
      border-bottom: 0.2rem solid #2735b3;
      border-radius: 0.2rem;
      transition: 0.3s;

      &:focus {
        outline: none;
        border: 0.2rem solid #2735b3;
      }
    }

    &Comment {
      margin-top: 1rem;
    }

    &Textarea {
      padding: 0.5rem;
      resize: none;
      background-color: #32363d;
      border: none;
      border: 0.2rem solid transparent;
      border-bottom: 0.2rem solid #2735b3;
      border-radius: 0.2rem;
      transition: 0.3s;

      &:focus {
        outline: none;
        border: 0.2rem solid #2735b3;
      }
    }

    &Btn {
      padding: 0.5rem 1rem;
      background-color: #2735b3;
      font-size: 1rem;
      cursor: pointer;
      border: none;
      width: 75%;
      margin: 1rem auto 0 auto;
      border-radius: 1rem;
      transition: 0.3s;

      &:hover {
        background: linear-gradient(to right, #abb9e4 0%, #5375dd 100%);
      }
    }
  }
}

@media (max-width: 50rem) {
  .formComment {
    width: 90%;
    padding: 1rem .5rem;

    &Title {
      text-align: center;
      font-size: 1.25rem;
    }

    &Form {
      &Btn {
        width: 100%;
      }
    }
  }
}
