@import "../../styles/variables.scss";

.wrapper {
  &Cards {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }

  &Tables {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    width: 100%;

    &TableRecent {
      width: 50%;

      &Table {
        width: 100%;

        &Head {
          &Line {
            background-color: $backGroundSecondary;
            box-shadow: $boxShadown;
            height: 3rem;

            &Title {
              padding-inline: 0.5rem;
            }
            &Action {
              padding-inline: 0.5rem;
            }
          }
        }
      }
    }

    &TableRunningOut {
      width: 50%;

      &Table {
        width: 100%;
      
        &Head {
          &Line {
            background-color: $backGroundSecondary;
            box-shadow: $boxShadown;
            height: 3rem;
      
            &Title {
              padding-inline: .5rem;
            }
      
            &Qtde {
              padding-inline: .5rem;
            }
      
            &Action {
              padding-inline: .5rem;
            }
          }
        }
      }
    }
  }
}

.firstTh {
  text-align: start;
}
