@import "../../../styles/mixins.scss";

.wrapper {
  width: 100%;
  border: 1px solid #fff;

  &Head {
    &Line {
      &Title {
        border: 1px solid #fff;
      }
      &Qtde {
        border: 1px solid #fff;
      }
      &Action {
        border: 1px solid #fff;
      }
    }
  }

  &Body {
    &Line {
      &Item {
        border: 1px solid #fff;
      }
      &Qtde {
        border: 1px solid #fff;
        text-align: center;
      }
      &Action {
        border: 1px solid #fff;
        text-align: center;

        &Btn {
          @include btnStyle();
        }
      }
    }
  }
}

.firstTh {
  text-align: start;
}
