@import "../../../styles/variables.scss";

@import "../../../styles/mixins.scss";

.wrapper {
  width: 100%;

  &Head {
    &Line {
      background-color: $backGroundSecondary;
      box-shadow: $boxShadown;
      height: 3rem;

      &Title {
        padding-inline: .5rem;
      }

      &Qtde {
        padding-inline: .5rem;
      }

      &Action {
        padding-inline: .5rem;
      }
    }
  }

  &Body {
    &Line {
      height: 3rem;

      &Item {
        padding-inline: .5rem;
      }
      &Qtde {
        padding-inline: .5rem;
        text-align: center;
      }
      &Action {
        padding-inline: .5rem;
        text-align: center;

        &Btn {
          @include btnStyle();
        }
      }
    }
  }
}

.firstTh {
  text-align: start;
}
