$boxShadown: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$boxShadownHover: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22);

$backGroundSecondary: #121314;

$btnOk: #2572e8;
$btnEdit: #ffa500;
$btnRemove: #cf0e0e;
